$color-light-blue: #dde0e9; //pozadina navigacije,forme i auta
$color-location-bg: rgba(255, 255, 255, 0.7); //prodajne lokacije
$color-dark-blue: #003153; //tekst,pozadina footer-a i ivice
$color-gold-brown: #b96d34; //tekst prodajnih lokacija i efekat linkova
$color-white: #ffffff;

$font-stack: Arial, Helvetica, sans-serif;
